{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
<h2>Upload Registration Excel</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <button type="submit" class="default">submit</button>
</form>
<a href="{% url 'admin:courses_registration_changelist' %}">Back to registrations</a>
{% endblock %}