Django==5.2.4
python-decouple==3.8
gunicorn==23.0.0
psycopg2-binary==2.9.10
ruff==0.11.12
django-phonenumber-field[phonenumbers]==8.1.0
django_jalali[drf]==7.4.0
django-extensions==4.1
jupyter==1.1.1
jupyterlab==4.4.4
notebook==7.4.4
pandas==2.3.0
tqdm==4.67.1
mysqlclient==2.2.7
dalf==0.3.0